@font-face {
  font-family: 'Assassins';
  src: url('../src/CSS/Assassin$.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: 'Assassins';
}

button {
  font-family: 'Assassins';
}

select {
  font-family: 'Assassins';
}

button{
  cursor: pointer;
  padding: 10px 40px;
  background: rgb(0, 0, 0);
  border: none;
  color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px -5px #20202050;
}

button:hover{
  box-shadow: 5px 5px 20px #ffffff;
}

input {
  padding: 10px 40px;

  color: rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 1px 1px 10px -5px #20202050;
}

select {
  padding: 10px 40px;

  border-radius: 20px;
  box-shadow: 1px 1px 10px -5px #20202050;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
