.CreateGame {
    color: rgb(255, 255, 255);
    background-image: url('../CSS/Created.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.CreateGame img {
    width: 250px;
    height: 280px;
    display: flex;
}

.CreateGame h1 {
    font-size: 50px;
    text-align: center;
    color: rgb(255, 0, 0);
    margin: 10px;
}

.Select button {
    padding: 10px 10px;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

.Label input {
    opacity: 60%;
}

.Select {
    display: flex;
    margin: 5px;
    align-items: center;
}

.Select li {
    color: black;
    font-weight: bolder;
    font-size: 20px;
    list-style: none;
    padding: 20px;
}

.Select ul {
    display: flex;
    margin: 0px;
}

.CreateGame label {
    color: black;
    font-size: 40px;
    font-weight: bold;
}

#Description {
    border-radius: 10px;
    opacity: 60%;
}

#imagenJuego {
    float: right;
    margin-top: 300px;
    margin-right: 200px;
}

#submit {
    padding: 20px 80px;
    margin: 20px;
}