.card {
    border-style: solid;
    border-radius: 10px;
    border-color: #aeaeae;
    width: 300px;
    height: 300px;
    margin: 15px;
    background-image: url('../CSS/Logo-0.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}


.card:hover{
    background-image: url('../CSS/Logo.gif');
    background-size: cover;
    background-position: center;
    transform: translateY(-15px);
    box-shadow: 20px 20px 30px rgba(0,0,0,0.7);
    color: white;
 }

.card a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.card a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.genres {
    color: rgb(255, 255, 255);
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    height: 35px;
}

#rating {
    color: rgb(255, 0, 0);
    font-size: 25px;
    display: flex;
    margin: 0px;
    justify-content: center;
}